body {
  font-family: 'Sigmar One', cursive;
  background-image:  url("http://meche.mit.edu/sites/default/files/styles/hero/public/slides/Research%20Oceans.jpg?itok=okSrE16D");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  align-items: center;


}

h1 {
  display: none;
}
h3 {
  font-size: 75px;
}

img {
  height: auto;
  width: 500px;
  display: block;
  margin-left: auto;
 margin-right: auto
}

.jumbotron {
  text-align: center;
  background-color: rgba(245, 245, 245, 0.6);
  font-size: 60px
}

.container {
  background-color: rgba(245, 245, 245, 0.6);
  padding: 15px;
  text-align: center;
}


.dice-boxes {
  border: black dashed 3px;
  font-size: 5em;
}


.btn-primary  {
  margin-top: 10px;

}

.col-md-6 {
  font-size: 20px;
  color: #660000;
}

.player1ScoreCard{
  border: black dashed 3px;
  font-size: 20px;
  color: #660000;
}

.player2ScoreCard{
  border: black dashed 3px;
  font-size: 20px;
  color: #660000;
}

.modal-header{
  font-size: 1.5em;
  background-color: #d7faeb;
}

.modal-body{
  font-size: 1.5em;
  background-color: #fdf6ee;
}
.modal-footer{
  font-size: 1.5em;
  background-color: #d7faeb;
}

#scoreCards {
  display: none;
}

#navBarList {
  cursor: pointer;
}

#navBarList:hover {
  text-decoration: underline;
}

#player1Display{
  color: black ;
  text-decoration: underline;
}

#player2Display {
  color: black ;
  text-decoration: underline;
}

#die1, #die2, #die3, #die4, #die5 {
  cursor: pointer;
  border: black solid 3px;
  padding: 20px;
  display: inline-block;
  margin-left: 50px;


}

#die1:active, #die2:active, #die3:active, #die4:active, #die5:active  {
  color: red;
}
